h1{
    font-size: 18px;
    
}

header {
    text-align: center;
    
}

ul, li{
    list-style-type: none;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    gap: 20px;
    justify-content: center;
    margin-top: 10px;
}